<%= simple_form_for @idea do |f| %>
 <% if @idea.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @idea.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.input :revenue_model %>
  <%= f.input :pricing %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :minimum_duration %>
  <%= f.input :application_criteria %>
  <%= f.submit "add an Idea", class: "btn btn-primary" %>
<% end %>
