<div class="home-banner" style="display: flex;">
  <div class="col-sm-6", style="display: flex; align-items: center; justify-content: center;">
  <%= render 'ideas/searchbar' %>
  </div>
  <div class="col-sm-6", style="display: flex; align-items: center; justify-content: center;">
    <div>
      <h1>Air Seed</h1>
      <h2><span id="banner-typed-text"></span></h2>
    </div>
  </div>
</div>

<div class="main-container">
  <div class="container">
    <p id="search-text"><%= pluralize @ideas.count, 'idea' %> for your search</p>
    <div class="row">
      <% @ideas.each do |idea| %>
        <div class="col-xs-12 col-sm-4">
          <%= render 'shared/card-new', idea: idea  %>
        </div>
      <% end %>
    </div>
  </div>
  <div
    id="map"
    style="width: 100%;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
