<div class="container">

  <div class="flexline">
    <div class="main white-box">
      <h3><%= @idea.title %></h3>
      <%= cl_image_tag @idea.photo, height: 180, width: 180, crop: :fill %>
      <p><%= @idea.category %></p>
      <a class="navbar-wagon-item navbar-wagon-link" href="https://www.linkedin.com/in/elon-musk-899732174/" target="_blank"><%= @idea.user.first_name %> <%= @idea.user.last_name %></a>
      <br>
      <br>
      <br>
      <%= link_to "Book", new_idea_booking_path(@idea), class: "btn btn-primary btn-lg" %>
    </div>
    <div class="stats-and-description">
      <div class="stats-flexline">
        <div class="stat white-box">
          <h3>Price per day</h3>
          <p><%= @idea.pricing %> €</p>
        </div>
        <div class="stat white-box">
          <h3>Min. duration</h3>
          <p><%= @idea.minimum_duration %> days</p>
        </div>
        <div class="stat white-box main-container">
          <div
            id="map"
            data-markers="<%= @marker.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
        </div>
      </div>
      <div class="description white-box">
        <h3>More about the idea</h3>
        <p> <%= @idea.description %> </p>
        <h3>Application Criteria</h3>
        <p><%= @idea.application_criteria %></p>
      </div>
    </div>
  </div>
</div>
