<div class="container">
  <div class="flexline">
    <div class="main white-box">
      <h3><%= @idea.title %></h3>
      <%= cl_image_tag @idea.photo, height: 180, width: 180, crop: :fill %>
      <p><%= @idea.category %></p>
      <a class="navbar-wagon-item navbar-wagon-link" href="https://www.linkedin.com/in/elon-musk-899732174/" target="_blank"><%= @idea.user.first_name %> <%= @idea.user.last_name %></a>
      <a class="navbar-wagon-item navbar-wagon-link" href="https://www.linkedin.com/in/elon-musk-899732174/" target="_blank"><i class="fab fa-linkedin"></i>
      <br>
      <br>
      <br>
      <%= link_to "Book", new_idea_booking_path(@idea), class: "btn btn-primary btn-lg" %>
    </div>
    <div class="stats-and-description">
      <div class="stats-flexline">
        <div class="stat">
          <h3>Price per day</h3>
          <p><%= @idea.pricing %> €</p>
        </div>
        <div class="stat">
          <h3>Min. duration</h3>
          <p><%= pluralize @idea.minimum_duration, "day" %></p>
        </div>
        <div class="stat">
          <div
            id="map"
            class="small-map"
            data-markers="<%= @marker.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
        </div>
      </div>
      <div class="description white-box">
        <h3>More about the idea</h3>
        <p> <%= @idea.description %> </p>
        <h3>Application Criteria</h3>
        <p><%= @idea.application_criteria %></p>
      </div>
    </div>
  </div>
    <div class="reviews">
      <div class="list-unstyled">
        <% @idea.reviews.each do |r| %>
        <div class="display-flex">
          <div>
            <ul class="rating text-center">
              <% r.rating.times do %><i class="fas fa-star"></i> <% end %>
            </ul>
          </div>
          <div>
              <i> <%= r.comment %> </i>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>

</div>





