<div class="container">
  <div class="row">
    <div class="section-title"><h3>Ideas</h3></div>
    <% @ideas.each do |idea| %>
    <div class="col-xs-12 col-sm-4 ideas">
      <%= render 'shared/card', idea: idea  %>
    </div>
  <% end %>

  <div class="row">
      <% bookings =  @bookings.where(validated: nil).where.not(id: nil) %>
      <div class="section-title">
        <h3>Booking requests<%= " (#{bookings.count})" if bookings.count > 0 %></h3>
      </div>
      <div class="col-xs-12 requests">
        <% booking = bookings.first %>
        <% days =  (booking.end_date - booking.start_date).to_i %>
        <% if booking.validated %>
          <% css_style = "accepted" %>
          <% message = "You've accepted " %>
        <% elsif booking.validated == false %>
          <% css_style = "declined" %>
          <% message = "You've declined " %>
        <% else %>
          <% css_style = "neutral" %>
          <% message = " wants to book " %>
        <% end %>
        <div class="request">
          <div class="request-title">
            <%= render 'shared/avatar', user: booking.user  %>
            <div class="request-header">
              <div class="request-header-text">
                <% if booking.validated == nil %>
                  <p><strong><%= booking.user.first_name  %></strong></p>
                  <p><%= message %></p>
                  <p class="neutral"> <%= booking.idea.title %></p>
                <% else %>
                  <p class=css_style><%= message %></p>
                  <p><strong><%= booking.user.first_name  %></strong></p>
                  <p class=css_style>'s request for <%= booking.idea.title %></p>

                <% end %>
              </div>
              <div class="request-details">
                <p><%= "#{booking.start_date} - #{booking.end_date}" %></p>
                <p><strong>
                  $<%= booking.idea.pricing * days %>
                </strong></p>
              </div>
            </div>
          </div>
          <div class="request-text">
            <p>
              <%= booking.request_message  %>
            </p>
          </div>
          <div class="request-buttons">
            <div class="buttons">
              <%= link_to "Validate", accept_booking_path(booking), method: :patch, class: "btn btn-xl btn-success"  %>
              <%= link_to "Decline", decline_booking_path(booking), method: :patch, class: "btn btn-xl btn-danger"  %>
            </div>
          </div>
        </div>
      </div>
  </div>


  <div class="row">
    <div class="section-title"><h3>Bookings</h3></div>
    <div class="col-xs-12 col-sm-4 bookings">
      <% @bookings.each do |booking|%>
        <p>
          <%= booking.idea.title %>
        </p>
      <% end %>

    </div>
  </div>
</div>







