<div class="container">
  <div class="row">
    <div class="section-title"><h3>Ideas</h3></div>
    <% @ideas.each do |idea| %>
    <div class="col-xs-12 col-sm-4 ideas">
      <%= render 'shared/card', idea: idea  %>
    </div>
  <% end %>

  <div class="row">
      <% bookings =  @bookings.where(validated: nil).where.not(id: nil) %>
      <div class="section-title">
        <h3>Booking requests <%= bookings.count %></h3>
      </div>
      <div class="col-xs-12 requests">
        <% booking = bookings.first %>
        <% days =  (booking.end_date - booking.start_date).to_i %>

        <% message = "#{booking.user.first_name} wants to book #{booking.idea.title}" %>
        <div class="request">
          <%= render 'shared/avatar', user: booking.user  %>
          <div class="request-header">
            <p><%= message  %></p>
            <div class="request-details">
              <p><%= "#{booking.start_date} - #{booking.end_date}" %></p>
              <p><strong>
                $<%= booking.idea.pricing * days %>
              </strong></p>
            </div>
          </div>
        </div>
        <div class="request-text">
          <p>
            <%= booking.request_message  %>
          </p>
        </div>
        <div class="request-buttons">
          <div class="buttons">
            <%= link_to "Validate", accept_booking_path(booking), method: :patch, class: "btn btn-xs btn-success"  %>
            <%= link_to "Decline", decline_booking_path(booking), method: :patch, class: "btn btn-xs btn-danger"  %>
          </div>
        </div>
      </div>
  </div>


  <div class="row">
    <div class="section-title"><h3>Bookings</h3></div>
    <div class="col-xs-12 col-sm-4 bookings">
      <% @bookings.each do |booking|%>
        <p>
          <%= booking.idea.title %>
        </p>
      <% end %>

    </div>
  </div>
</div>







